@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: rgb(20, 20, 20);
    color: #ccc;
    font-family: "Open Sans", Arial, sans-serif;
    margin: auto;
}

main {
    max-width: 600px;
    margin: 0 auto;
    
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-with-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.block-in-block1 {
    background-color: green;
    border-radius: 25px;
    padding: 5px;
        transition: 0.3s;
}

.block-in-block1:hover {
    background-color: rgb(12, 107, 0);
}

.block-in-block2 {
    background-color: rgb(0, 92, 189);
    padding: 5px;
    border-radius: 25px;
        transition: 0.3s;
}

.block-in-block2:hover {
    background-color: rgb(0, 106, 187);
}

.block-in-block3 {
    background-color: rgb(61, 190, 255);
    padding: 5px;
    border-radius: 25px;
        transition: 0.3s;
}

.block-in-block3:hover {
    background-color: rgb(0, 170, 176);
}

.block-in-block4 {
    background-color: rgb(83, 0, 217);
    padding: 5px;
    border-radius: 25px;
        transition: 0.3s;
}

.block-in-block4:hover {
    background-color: rgb(61, 0, 159);
}

.block-in-block5 {
    background-color: rgb(255, 115, 0);
    padding: 5px;
    border-radius: 25px;
    transition: 0.3s;
}

.block-in-block5:hover {
    background-color: rgb(213, 113, 0);
}

.block-grid {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    gap: 5px;
}

.block-grid1 {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 5px;
}

.block-grid2 {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 5px;
}


.block-grid3 {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 5px;
}

.done {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ;
}

.done:hover {
    background-color: #464646;
}

.done::after {
    content: "Выполнено ✓";
}